body{
    background-image: url(BG.jpg);
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

#Main{
    background-color: black;
    color: blanchedalmond;
    text-align: justify;
    width: 50%;
    margin: auto;
}
p{
    color: blanchedalmond;
    text-align: justify;
    width: 75%;
    margin: 10px auto;
}

img{
    width: 100%;
}